:root {
  font-size: 1.1em;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  background-color: rgba(250, 247, 247, 0.9);
}
a {
  text-decoration: none;
  color: rgba(196, 55, 62, 1);
}
a:hover {
  background-color: rgba(255, 204, 205, 0.7);
}
ul {
  margin: 100px;
  padding: 0;
  text-align: center;
  list-style: none;
}
li {
  margin-top: 0.6em;
}
.me {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  -webkit-transition: .3s all linear;
          transition: .3s all linear;
}
