* {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

.container {
  position: relative;
  top: 200px;
  margin: 0 auto;
  text-align: center;
}

.container p {
  margin-top: 30px;
}

.box {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transition: all 900ms ease-out;
          transition: all 900ms ease-out;
  cursor: pointer;
}

.box:hover {
  -webkit-transform: rotateZ(-60deg);
          transform: rotateZ(-60deg);
}

.star {
  position: relative;
  width: 100px;
  height: 100px;
  background: url(https://cldup.com/HeqDhxgwV2.png) center no-repeat;
  background-size: 100px 100px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.box:hover .star {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotateZ(0); transform: rotateZ(0) }
  100% { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg) }
}

@keyframes spin {
  0% { -webkit-transform: rotateZ(0); transform: rotateZ(0) }
  100% { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg) }
}